/node_modules/
/package.json
/package-lock.json
/dist/

AllQuestsCheckmarks-Server/dist/
AllQuestsCheckmarks-Server/node_modules/
AllQuestsCheckmarks-Server/types/
AllQuestsCheckmarks-Server/package-lock.json

**/.vs/
**/bin/
**/obj/